.header
	z-index: 100
	position: fixed
	top: 0
	left: 0
	width: 100%
	display: flex
	padding:  20px 10% 
	justify-content: space-between
	align-items: center
	background-color:  #fafafa
	.logo
		font-size: 35px
		color: #123456
		text-decoration: none
		font-weight: bold
	.login-button
		text-decoration: none
		cursor: pointer
		padding: 10px 30px
		color: #ffffff
		background-color: red
		border: none	
